nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #070707;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    
  }

  *{

    margin: 0;
    padding: 0;
    
}
.menu {

    text-align: center;
}

nav a:hover {
            color: #666;
            background: #FCFCFC;
            border: 1px solid #666;
        }

nav a {
            font: 12px  Arial, Verdana,Helvetica,sans-serif;
            color: #000;
            text-decoration: none;
            background:  #ffc60cb5;
            text-align: center;
            padding: 10px 95px;
            margin-right:1px;
            border: 1px solid #FFFF;
            }

body {

    background-image: url(../imagens/livros2.avif);
    background-size: cover;
    
}