.home {

    text-align: center;
    padding: 300px;
    color: #FFFF;
}

.autor {

    text-align: center;
    padding: 300px;
    color: #FFFF;
}

.editora {

    text-align: center;
    padding: 300px;
    color: #FFFF;
}